<div class="heading">
  <h1>All Training Sessions</h1>
  <hr>
</div>

<% if current_viewer && current_site.site_content.training_session_greeting.present? %>
  <div id="instructions" class="well">
    <h4>Hi <%= current_viewer.name.capitalize %>,</h4>
    <p><%= raw current_site.site_content.training_session_greeting %></p>
  </div>
<% end %>

<div class="heading">
  <h3>Currently Available Topics</h3>
  <% if current_user.admin? %>
    <%= link_to 'Edit Order', order_site_training_sessions_path, :class => "action" %>
  <% end %>
  <% if params[:order] == "desc" %>
    <%= link_to 'Oldest first', site_training_sessions_path(:order => 'asc'), :class => "action" %>
  <% else %>
    <%= link_to 'Newest first', site_training_sessions_path(:order => 'desc'), :class => "action" %>
  <% end %>
</div>

<div id="training_sessions">
  <% if @training_sessions.any? %>  
    <% @training_sessions.each_with_index do |training_session, index| %>
      <%= render :partial => training_session, :locals => { :index => index } %>
    <% end %>
  <% else %>
    <p>Nothing to show</p>
  <% end %>
</div>