<%= form_for [@user, @profile] do |f| %>
  <div class="row">
    <div class="span4">
      <% if @profile.image.present? %>
        <%= image_tag @profile.image_url(:squared), :class => "thumbnail" %>
      <% end %>
    </div>
    <div class="span8">
      <div class="control-group">
        <%= f.label :name, 'Profile name', :class => "control-label" %>
        <p class="muted">Don't want to display your email address? Provide a profile name here...</p>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :image, 'Profile image', :class => "control-label" %>
        <p class="muted">You can upload a profile picture, if you like</p>
        <div class="controls">
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit :class => "btn" %>
      </div>
    </div>
  </div>
<% end %>