<%= form_for @viewer do |f| %>
  <% if @viewer.errors.any? %>
    <h3 class="danger">Please correct the following <%= 'error'.pluralize(@viewer.errors.count) %>:</h3>
    <% @viewer.errors.full_messages.each do |error| %>
      <p class="danger"><%= error %></p>
    <% end %>
    <br>
  <% end %>
  
    <%= f.hidden_field :user_id, :value => current_user.id %>
    
    <div class="control-group">
      <%= f.label :name, 'Name', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "Name", :autocomplete => "off" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, 'Email Address', :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :placeholder => "Email Address", :autocomplete => "off" %>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit 'Continue', :class => 'btn' %>
    </div>
    
<% end %>