<%= form_for @viewing do |f| %>
  <%= error_messages_for @viewer %>
  
  <%= f.hidden_field :video_id, :value => params[:video_id] %>
  <%= f.hidden_field :viewer_id, :value => current_viewer.id %>
  
  <div class="control-group">
    <%= f.label :participants, "Other Participants", :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :participants, :placeholder => "Enter some names", :class => "span12", :rows => 3, :autocomplete => "off" %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit Sign In Sheet", :class => 'btn' %>
  </div>
<% end %>