<tr>
  <td><%= date_for viewing.created_at %></td>
  
  <% if params[:controller] == "viewers" %>
    <!-- DISPLAY TRAINING SESSION -->
    <td><%= link_to viewing.training_session.name, 
            training_session_path(viewing.training_session, 
            :viewing_id => viewing.id) %>
    </td>
  <% elsif params[:controller] == "training_sessions" %>
    <!-- DISPLAY VIEWER -->
    <td><%= link_to(viewing.viewer.name.titleize, 
            viewing.viewer) unless viewing.viewer.nil? %>
    </td>
  <% else %>
    <!-- DISPLAY BOTH -->
    <td><%= link_to viewing.training_session.name, 
            training_session_path(viewing.training_session) %>
    </td>
    <td><%= link_to(viewing.viewer.name.titleize, 
            viewing.viewer) unless viewing.viewer.nil? %>
    </td>
  <% end %>
  
  <% if params[:controller] == "viewings" %>
    <td><%= link_to(viewing.site.name, viewing.site) unless viewing.site.nil? %></td>
  <% elsif params[:controller] == "training_sessions" %>
    <td><%= link_to(viewing.site.name, viewing.site) unless viewing.site.nil? %></td>
    <td><%= viewing.participants %></td>
  <% else %>
    <td><%= viewing.participants %></td>
  <% end %>
  <td>
    <% if viewing.completed_at %>
      <span class="completed">
        <i class="icon-ok"> Completed</i>
      </span>
    <% end %>
  </td>
</tr>