<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h3 class="danger">Please correct the following <%= 'error'.pluralize(@user.errors.count) %>:</h3>
    <% @user.errors.full_messages.each do |error| %>
      <p class="danger"><%= error %></p>
    <% end %>
    <br>
  <% end %>

    <div class="control-group">
      <%= f.label :username, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :username, :placeholder => "Username", :autocomplete => "off" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :placeholder => "Password", :autocomplete => "off" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit (@user.new_record? ? "Create Account" : "Update Account"), :class => 'btn' %>
    </div>
  
<% end %>