<%= form_for @video, :html => { :multipart => :true } do |f| %>
  <%= error_messages_for @video %>
  <div class="control-group">
    <%= f.label :name, "Training Session Name", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :vimeo_embed, "Vimeo Video ID", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :vimeo_embed %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :pdf, "PDF", :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :pdf %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
   
<% end %>