<div id="video" class="row">
  <% if @video.vimeo_embed.present? %>
    <div class="span12"><%= raw @video.vimeo_embed %></div>
  <% else %>
    <%= video_tag [@video.video_url], :controls => true, :class => "thumbnail span12" %>
  <% end %>
</div>
<h1><%= @video.name %></h1>
<% if @video.pdf.present? %>
  <p><%= link_to "View PDF", @video.pdf_url %></p>
<% end %>
<% if current_user.admin? %>
  <div class="actions">
    <%= link_to "Edit", edit_video_path(@video) %>
    <%= link_to "Destroy", @video, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
  </div>
<% end %>
<hr>
<div id="comments">
  <h3>Leave a comment</h3>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :video_id, :value => @video.id %>
    <%= f.hidden_field :viewer_id, :value => current_viewer.id %>
    <div class="control-group">
      <div class="controls">
        <%= f.text_area :content, :class => "span12", :rows => 3 %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Done", :class => 'btn' %>
    </div>
  <% end %>
</div>