<%= form_for @training_session, :html => { :multipart => :true } do |f| %>
  
  <% if @training_session.errors.any? %>
    <h3 class="danger">Please correct the following <%= 'error'.pluralize(@training_session.errors.count) %>:</h3>
    <% @training_session.errors.full_messages.each do |error| %>
      <p class="danger"><%= error %></p>
    <% end %>
    <br>
  <% end %>
  
  <div class="control-group">
    <%= f.label :name, "Training Session Name", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :vimeo_embed, "Vimeo Video ID", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :vimeo_embed %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :pdf, "PDF", :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :pdf %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
   
<% end %>