<div class="training_session">
  <div class="media">
    <div class="media-body">
      <h3 class="media-heading">
        <% if current_user.admin? %>
          <%= link_to "#{index + 1}. #{training_session.name}", training_session %>
        <% else %>  
          <%= link_to "#{index + 1}. #{training_session.name}", new_viewing_path(:training_session_id => training_session.id) %>
        <% end %>
      </h3>
      <p class="muted">
        Added on <%= date_for training_session.created_at %> |
        <% if current_user.admin? %>
          <%= pluralize training_session.viewings.count, 'view' %> |
          <%= pluralize training_session.comments.count, 'comment' %>
        <% end %>
      </p>
      <% if current_user.admin? %>
        <div class="actions pull-right">
          <%= link_to 'Edit', edit_training_session_path(training_session) %>
          <%= link_to 'Delete', training_session, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <p><strong><%= link_to 'View Video', training_session %></strong></p>
      <% else %>
        <p><strong><%= link_to 'View Video', new_viewing_path(:training_session_id => training_session.id) %></strong></p>
      <% end %>
    </div>
  </div>
  <hr>
</div>