<div class="training_session">
  <hr>
  <div class="media">
    <div class="media-body">
      <h3 class="media-heading">
        <% if current_user.admin? %>
          <%= link_to "#{index + 1}. #{training_session.name}", training_session %>
        <% else %>  
          <%= link_to "#{index + 1}. #{training_session.name}", new_viewing_path(:training_session_id => training_session.id) %>
        <% end %>
        <% if current_viewer && training_session.completed_by?(current_viewer)%>
          <span class="subheading completed"><i class="icon-ok"> Completed</i></span>
        <% end %>
      </h3>
      <p class="muted">
        Added on <%= date_for training_session.created_at %>
      </p>
      <% if current_user.admin? %>
        <p class="muted">
          <%= pluralize training_session.viewings.count, 'view' %> |
          <%= pluralize training_session.comments.count, 'comment' %>
        </p>
      <% end %>
      <% if current_user.admin? %>
        <div class="actions pull-right">
          <% if current_site.can_view? training_session %>
            <%= render :partial => "site_training_sessions/remove_from_site",
                       :locals => { :training_session_id => training_session.id } %>
          <% else %>
            <%= render :partial => "site_training_sessions/add_to_site",
                       :locals => { :training_session_id => training_session.id } %>
          <% end %>
          <% if params[:controller] == "training_sessions" %>
            <%= link_to 'Edit', edit_training_session_path(training_session) %>
            <%= link_to 'Delete', training_session, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
          <% end %>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <p><strong><%= link_to 'View Video', training_session %></strong></p>
      <% else %>
        <p><strong><%= link_to 'View Video', new_viewing_path(:training_session_id => training_session.id) %></strong></p>
      <% end %>
    </div>
  </div>
</div>