<div class="training_session">
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= index + 1 %>. 
        <% if current_user.admin? %>
          <%= link_to training_session.name.titleize, training_session %>
        <% else %>  
          <%= link_to training_session.name.titleize, new_viewing_path(:training_session_id => training_session.id) %>
        <% end %>
      </h4>
      <p class="muted">Added on <%= date_for training_session.created_at %></p>
      <% if current_user.admin? %>
        <p class="muted">
          <%= pluralize training_session.viewings.count, 'view' %> |
          <%= pluralize training_session.comments.count, 'comment' %>
        </p>
        <div class="actions">
          <%= link_to 'Edit', edit_training_session_path(training_session) %>
          <%= link_to 'Delete', training_session, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
        </div>
      <% end %>
      <p><%= link_to 'View Video', new_viewing_path(:training_session_id => training_session.id) %></p>
    </div>
  </div>
  <hr>
</div>