<div class="heading">
  <h1>Training Session Library</h1>
  <hr>
  <div class="well">
    The training session library is where you manage your training sessions. Click "Add A Topic" to create a new training session. Click "Publish" to publish a training session. Published training sessions will made available to all users of the current site.
  </div>
  <% if current_user.admin? %>
    <%= link_to 'Add A Topic', new_training_session_path, :class => "btn btn-large btn-success" %>
  <% end %> 
  <% if params[:order] == "desc" %>
    <%= link_to 'Oldest first', training_library_path(:order => 'asc'), :class => "action" %>
  <% else %>
    <%= link_to 'Newest first', training_library_path(:order => 'desc'), :class => "action" %>
  <% end %>
</div>

<div class="heading">
  
</div>

<div id="training_sessions">
  <% if @training_sessions.any? %>  
    <% @training_sessions.each_with_index do |training_session, index| %>
      <%= render :partial => training_session, :locals => { :index => index } %>
    <% end %>
  <% else %>
    <div class="heading">
      <p>Nothing to show</p>
    </div>
  <% end %>
</div>

<%= will_paginate @training_sessions %>