<div id="training_session" class="row">
  <% if @training_session.vimeo_embed.present? %>
    <%= render :template => 'training_sessions/vimeo_embed', :locals => { :vimeo_embed => @training_session.vimeo_embed } %>
  <% else %>
    <div class="span12">
      <p>Sorry, but no video is currently available for this training session. Please try again later.</p>
    </div>
  <% end %>
</div>

<br>

<p class="muted"><strong>Trouble viewing this video?</strong> IE8 users please make sure <%= link_to "Adobe Flash Player", "https://get.adobe.com/flashplayer/" %> is installed and up to date.</p>

<h2><%= @training_session.name.titleize %></h2>

<% if @training_session.pdf.present? %>
  <p><%= link_to "View PDF", @training_session.pdf_url %></p>
<% end %>

<% if current_user.admin? %>
  <div class="actions">
    <%= link_to "Edit", edit_training_session_path(@training_session) %>
    <%= link_to "Delete", @training_session, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
  </div>
<% end %>

<hr>

<div id="comments">
  <% if current_viewer %>
    <h3>Leave a comment</h3>
    <%= form_for @comment do |f| %>
      <%= f.hidden_field :training_session_id, :value => @training_session.id %>
      <%= f.hidden_field :viewer_id, :value => current_viewer.id %>
      <div class="control-group">
        <div class="controls">
          <%= f.text_area :content, :class => "span12", :rows => 3 %>
        </div>
      </div>
      <%= f.submit "Done", :class => 'btn' %>
    <% end %>
  <% else %>
    <h3>Comments</h3>
    <% if @training_session.comments.any? %>
      <% @training_session.comments.each do |comment| %>
        <div class="comment well">
          <h4>
            <%= comment.viewer.name.capitalize %>
            <span class="viewer-user muted"> (<%= comment.viewer.user.username %>)</span>
          </h4>
          <p class="muted">On <%= date_for comment.created_at %></p>
          <% if comment.content.blank? %>
            <p class="muted">Did not leave comment.</p>
          <% else %>
            <p><%= comment.content %><p>
          <% end %>
          <div class="pull-right actions">
            <%= link_to "Delete", comment, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>
    <% else%>
      <p>No comments to show.</p>
    <% end %>
  <% end %>
</div>