<div id="training_session" class="row">
  <% if @training_session.vimeo_embed.present? %>
    <%= render :template => 'training_sessions/vimeo_embed', :locals => { :vimeo_embed => @training_session.vimeo_embed } %>
  <% else %>
    <div class="span12">
      <p>Sorry, but no video is currently available for this training session. Please try again later.</p>
    </div>
  <% end %>
</div>

<br>

<div class="heading">
  <p class="muted"><strong>Trouble viewing this video?</strong> IE8 users please make sure <%= link_to "Adobe Flash Player", "https://get.adobe.com/flashplayer/" %> is installed and up to date.</p>  
  <h2><%= @training_session.name %></h2> 
  <% if @training_session.pdf.present? %>
    <p><%= link_to "View PDF", @training_session.pdf_url, :class => "link-large" %></p>
  <% end %> 
  <% if current_user.admin? %>
    <div class="actions">
      <%= link_to "Edit", edit_training_session_path(@training_session) %>
      <%= link_to "Delete", @training_session, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
    </div>
  <% end %>
  <hr>
</div>

<div id="comments">
  <% if current_viewer %>
    <div class="heading">
      <h3>Leave a comment <span class="muted" style="font-size:large; font-weight:normal">(Optional)</span></h3>
    </div>
    <%= form_for @comment do |f| %>
      <%= f.hidden_field :training_session_id, :value => @training_session.id %>
      <%= f.hidden_field :viewing_id, :value => @viewing.id %>
      <%= f.hidden_field :viewer_id, :value => current_viewer.id %>
      <div class="control-group">
        <div class="controls">
          <%= f.text_area :content, :class => "span10", :rows => 3 %>
        </div>
      </div>
      <p class="hint"><i class="icon-ok"></i>
        Click done to complete this training session.</p>
      <%= f.submit "Done", :class => 'btn btn-large btn-success' %>
    <% end %>
  <% else %>
    <div class="heading">
      <h3>Comments</h3>
    </div>
    <% if @training_session.comments.any? %>
      <% @training_session.comments.each do |comment| %>
        <div class="comment well">
          <h4>
            <%= link_to comment.viewer.name.capitalize, comment.viewer %>
          </h4>
          <p class="muted">On <%= date_for comment.created_at %></p>
          <% if comment.content.blank? %>
            <p class="muted">Did not leave comment.</p>
          <% else %>
            <p><%= comment.content %><p>
          <% end %>
          <div class="pull-right actions">
            <%= link_to "Delete", comment, :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "danger" %>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>
    <% else %>
    <div class="comment">
      <p>No comments to show.</p>
    </div>
    <% end %>
  <% end %>
</div>

<% if current_user.admin? %>
  <div id="viewings">
    <hr>
    <h3>Viewing Log</h3>
    <p class="muted"><%= @training_session.name %> has been viewed <%= pluralize @training_session.viewings.count, 'time' %></p>
    <br>
    <% if @training_session.viewings.any? %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Viewing Date</th>
            <th>Viewer Name</th>
            <th>Viewer Email</th>
            <th>Participants</th>
            <th>Completed?</th>
          </tr>
        </thead>
        <tbody>
          <% @training_session.viewings.each do |viewing| %>
            <tr>
              <td><%= date_for viewing.created_at %></td>
              <td><%= link_to viewing.viewer.name, 
                              viewing.viewer %>
              </td>
              <td><%= viewing.viewer.email %>
              </td>
              <td><%= viewing.participants %></td>
              <td>
                <% if viewing.completed_at %>
                  <span class="completed">
                    <i class="icon-ok"> Completed</i>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Nothing to show.</p>
    <% end %>
    <br>
    <p><%= link_to raw("&#8592; Return to training sessions"), training_sessions_path, :class => 'link-large' %></p>
    <br>
  </div>
<% end %>