<!DOCTYPE html>
<html>
<head>
  <title><%= current_site.name %> Training</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% unless params[:controller] == "style_settings" && params[:action] == "update" %>
    <%= render :template => "layouts/site_styles", :locals => { :style_setting => current_site.style_setting } %>
  <% end %>
</head>
<body>
  <div class="container">
    <% if current_site.banner_image.present? %>
      <div id="banner"></div>
    <% else %>
      <br>
      <div class="heading">
        <h1><%= current_site.name %> Training</h1>
      </div>
    <% end %>
  </div>
  <div id="content" class="container">
      <div class="row">
        <div class="span12">
          <% if logged_in? && current_user.admin? %>
            <div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li><%= link_to "Published Training Sessions", site_training_sessions_path %></li>
                  <li><%= link_to "Training Library", training_library_path %></li>
                  <li><%= link_to "Viewing Log", viewings_path %></li>
                  <li><%= link_to "User List", users_path %></li>
                  <li><%= link_to "Site List", sites_path %></li>
                  <li><%= link_to "Sign out", signout_path %></li>
                </ul>
              </div>
            </div>
          <% elsif logged_in? %>
            <div class="nav actions pull-right">
              <% if current_viewer %>
                <span class="action">Signed in as <%= link_to current_viewer.name.capitalize, current_viewer %></span> 
                <span class="muted">Not you?</span> 
              <% end %>
              <span class="action">
                <%= link_to "Sign out", signout_path, :class => "signout_link" %>
              </span>
          </div>
          <% end %>
        </div>
      </div>
      <% if flash.any? %>
        <% flash.each do |name, msg| %>
          <div class="row">
              <div class="span12">
              <div class="alert alert-<%= name %>">
                <%= msg %>
                <div id="alert-dismiss" class="muted pull-right">
                  <i class="icon-remove"></i>
                </div>
              </div> 
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render :template => 'layouts/footer' %>
  </div>
</body>
</html>
