<!DOCTYPE html>
<html>
<head>
  <title>LACSS Training</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="banner">
    </div>
  </div>
  <div id="content" class="container">
      <div class="row">
        <div class="span12">
          <% if logged_in? && current_user.admin? %>
            <div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li><%= link_to "View Training Sessions", training_sessions_path %></li>
                  <li><%= link_to "User List", users_path %></li>
                  <li><%= link_to "Sign out", signout_path %></li>
                </ul>
              </div>
            </div>
          <% elsif logged_in? %>
            <div class="nav actions pull-right">
              <% if current_viewer %>
                <span class="action">Signed in as <%= link_to current_viewer.name.capitalize, current_viewer %></span> 
                <span class="muted">Not you?</span> 
              <% end %>
              <span class="action">
                <%= link_to "Sign out", signout_path, :class => "signout_link" %>
              </span>
          </div>
          <% end %>
        </div>
      </div>
      <% if flash.any? %>
        <% flash.each do |name, msg| %>
          <div class="row">
              <div class="span12">
              <div class="alert alert-<%= name %>">
                <%= msg %>
                <div id="alert-dismiss" class="muted pull-right">
                  <i class="icon-remove"></i>
                </div>
              </div> 
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div
    </div>
  </div>
</body>
</html>
