<!DOCTYPE html>
<html>
<head>
  <title>LACSS Training</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page" class="container">
    <div id="banner">
      <%= image_tag 'banner.png' %>
    </div>
      <div class="row">
        <div class="span12">
          <% if logged_in? && current_user.admin? %>
            <div class="navbar">
              <div class="navbar-inner">
                <ul class="nav">
                  <li><%= link_to "View Training Sessions", videos_path %></li>
                  <li><%= link_to "User List", users_path %></li>
                  <li><%= link_to "Sign out", signout_path %></li>
                </ul>
              </div>
            </div>
          <% elsif logged_in? %>
            <br>
            <ul class="nav pull-right">
              <li><%= link_to "Sign out", signout_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name %>">
              <%= msg %>
            </div> 
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div
    </div>
  </div>
</body>
</html>
